@import 'scss/variables.scss';

.wrapper {
  margin-top: 30px;
  height: 100%;
  width: 100%;
}

.content {
  padding: $spacing;
  width: 100%;
  height: 100%;
}

.startLearningButton {
  padding: $smallSpacing;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: $accentColor;
  }
  &:active {
    background: #ffffff17;
  }
}

.text {
  color: $mainTextColor;
}

.title {
  height: auto;
  color: $mainTextColor;
  font-weight: 500;
  font-size: 18px;

  padding-bottom: $spacing;
  text-align: center;
  // border-bottom: 1px solid $borderColor;
}

.module {
  margin-bottom: $spacing * 2;
  &:last-child {
    margin-bottom: 0;
  }
}

//AddNewWord_AddNewWord_AddNewWord_AddNewWord_AddNewWord

.form {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  position: relative;
  height: $spacing * 3 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage {
  margin-bottom: $spacing;
  &:last-child {
    margin-bottom: 0;
  }
}

.input {
  color: $mainTextColor;
  display: flex;
  padding: $smallSpacing $spacing;
  align-items: center;
  width: 100%;
  outline: none;
  background: none;
  border: 0;
}

.rangeInput {
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
  background: transparent;
  border-radius: $mainBorderRadius;
  position: absolute;
}

.rangeInput::-webkit-slider-runnable-track {
  height: 100%;
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: inherit;
  background-color: #ffffff00;
  height: 100%;
  width: 2px;
}

// .rangeInputWrapper{
//   position: relative;
// }

.progress {
  color: $mainTextColor;
}

.label {
  text-align: center;
  color: $mainTextColor;
  font-size: 14px;
  margin-bottom: $smallSpacing;
}

.translationsPlaceholder {
  font-size: 14px;
  color: rgba(208, 194, 255, 0.2);
}

.translationList {
  list-style: none;
  color: $mainTextColor;
  width: 100%;
}

.translationsWrapper {
  margin-bottom: $spacing;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.translationHeader {
  padding: $smallSpacing $spacing;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $accentColor;
  border-radius: $mainBorderRadius $mainBorderRadius 0 0;
  width: 100%;
}

.translation {
  width: 100%;
  padding: $smallSpacing $spacing;
  border-bottom: 1px solid $borderColor;

  &:last-child {
    border-bottom: none;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.5s;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid $borderColor;
  outline: none;
  background: none;
  width: $spacing * 2;
  height: $spacing * 2;
  border-radius: $mainBorderRadius;
  cursor: pointer;
  transition: all 0.15s;
}

.checkbox:checked {
  background: $accentColor;
  padding: $smallSpacing;
}

.checkbox:hover {
  scale: 1.1;
}

.checkbox:active {
  scale: 0.9;
  background: #ffffff03;
}

.buttons {
  display: flex;
  grid-template-columns: 1fr 2fr;
  column-gap: $spacing;
}

.button {
  text-wrap: nowrap;
  color: $mainTextColor;
  padding: $smallSpacing;
  text-align: center;
}

//TRANSFER ZONE
.transferZone {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropAreaWrapper {
  width: 100%;
  height: 30px + $spacing;
  margin-top: $spacing;
  border-radius: $mainBorderRadius;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    background: rgba(255, 0, 0, 0.091);
  }
}

.dropArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
