$mainTextColor: rgba(208, 194, 255, 0.7);
$accentColor: rgba(208, 194, 255, 0.08);
$firstBackgroundColor: linear-gradient(45deg, #03010f, #1f0121);

$secondBackgroundColor: rgba(255, 255, 255, 0.05);
$borderColor: #ffffff18;
// $borderColor: none;
$mainLetterSpacing: 4px;
$mainBorderRadius: 6px;
$mainBoxShadow: 0 8px 32px 0 rgba(255, 255, 255, 0.05);
$spacing: 10px;
$smallSpacing: calc($spacing / 2) + 1px;
$gridSpacing: 12px;
$mainBackgroundColor: #0f0114;
